.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
}

.header__inner {
    max-width: 1230px;
    height: 100%;
    padding: 20px 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
}

.footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
}

.footer__inner {
    max-width: 1230px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}