.content {
    width: 100%;
    margin-top: 80px;
}

.content__inner {
    max-width: 1230px;
    margin: 0 auto;
}

.content__wrapper {
    width: 40%;
    padding-top: 40px;
    margin: 0 auto;
}

.content__heading {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.heading__title {
    font-size: 24px;
}

.content__login-form {
    width: 100%;
}

.form {
    width: 100%;
}

.form__item {
    width: 100%;
    margin-top: 30px;
}

.form__item:first-of-type {
    margin-top: 0;
}

.form__item-input {
    width: 100%;
    padding: 12px;
    background-color: inherit;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
}

.form__item-error {
    width: 100%;
    padding: 0 12px;
    color: red;
}

.form__item-button {
    width: 100%;
    padding: 12px;
    color: #ffffff;
    background-color: #0000ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content__link {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.link__information {
    margin: 0;
    font-size: 14px;
    color: #8a8a8a;
}

.link__register {
    font-size: 14px;
    color: #0000ff;
    text-decoration: none;
    cursor: pointer;
}