.header-nav__list {
    display: flex;
    align-items: center;
    margin: 0;
}

.header-nav__item:not(:last-child) {
    margin-right: 50px;
}

.header-nav__item a {
    color: inherit;
    text-decoration: none;
}

.header-nav__logout-button {
    padding: 0;
    font-size: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.content {
    width: 100%;
    margin-top: 80px;
}

.content__inner {
    max-width: 1230px;
    margin: 0 auto;
}

.content__wrapper {
    width: 80%;
    margin: 0 auto;
}

.content__heading-search {
    width: 100%;
    padding: 34px 0;
    text-align: center;
}

.search-form__item-input {
    width: 40%;
    padding: 8px;
    margin-right: 8px;
    font-size: 14px;
    background-color: inherit;
    border: 1px solid #8a8a8a;
}

.search-form__item-button {
    padding: 8px;
    font-size: 14px;
    color: #ffffff;
    background-color: #444444;
    border: none;
    cursor: pointer;
}

.content__user-list {
    width: 100%;
}

.users__table {
    width: 100%;
}

.table__row {
    width: 100%;
    border-top: 1px solid #8a8a8a;
    text-align: left;
}

.table__row th,
.table__row td {
    width: 40%;
    padding: 20px 0 20px 30px;
}

.table__row th:last-of-type,
.table__row td:last-of-type {
    width: 60%;
}

.content__bottom-pagination {
    width: 100%;
    padding: 30px 0 0;
    text-align: center;
}

.pagination {
    display: inline-flex;
}